{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    {# Coordonnées de l'entreprise à gauche, coordonnées du client à droite#}
    <div class="container mt-4">
    {# Le filtre format_date nécessite une extension supplémentaire :
    $ symfony composer req "twig/intl-extra:^3" #}
    <h3>Date : {{ "now" | format_date("long") }}</h3>
        <table class="table table-borderless">
            <tr>
                <td class="col-3 border border-dark">
                        Clicom<br/>
                        26, rue du labrador, 1047 Bruxelles <br/>
                        numéro de SIREN : 0123456789<br/>
                        Tél : 01 02 03 04 05
                </td>
                <td class="col-6"></td>
                <td class="col-9"></td>
            </tr>
            <tr>
                <td class="col-3"></td>
                <td class="col-6"></td>
                <td class="col-3 border border-dark">
                    Référence client : {{ commande.ncli.ncli }}<br/>
                    Nom : {{ commande.ncli.nom }}<br/>
                    Adresse : {{ commande.ncli.adresse }}, {{ commande.ncli.localite }}<br/>
                    Catégorie : {{ commande.ncli.cat }} -- Compte : {{ commande.ncli.compte }}
                </td>
            </tr>
        </table>


        {# Identification de la facture #}
        <hr/>        
        <h3>Facture n° {{ commande.ncom }}</h3>
        <h5>Date de la commande : {{ commande.datecom | format_date("long") }}</h5>
        {% if commande.details | length > 1 %}
            {% set titre = 'Articles' %}
        {% else %}
            {% set titre = 'Article' %}
        {% endif %}
        <hr/>
        <h4>{{titre}}</h4>
        {% set somme = 0 %}
        {# Table des commandes, puis total HT, TTC de la facture #}
        <table class="table">
            <thead class="bg-secondary text-white">
                <th>Code produit</th>
                <th class="col-6">Désignation du produit</th>
                <th style="text-align: right">Quantité</th>
                <th style="text-align: right">Prix unitaire HT</th>
                <th style="text-align: right">Montant HT</th>
            </thead>
            <tbody>
            {% set somme = 0 %}
            {% for detail in commande.details %}
                <tr>
                    <td>{{ detail.npro.npro }} </td>
                    <td>{{ detail.npro.libelle }}</td>
                    <td style="text-align: right">{{ detail.qcom }}</td>
                    <td style="text-align: right">{{ detail.npro.prix |number_format(2, ',', ' ') }} €</td>
                    {% set montant = detail.npro.prix * detail.qcom %}
                    <td style="text-align: right">{{ montant | number_format(2,',',' ') }} €</td>
                </tr>
                {% set somme = somme + montant %}
            {% endfor %}
                <tr class="bg-light">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right"><strong>Total HT</strong></td>
                    <td style="text-align: right">{{ somme | number_format(2, ',', ' ') }} €</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right"><small>TVA : 20 %</small></td>
                </tr>  
                <tr class="bg-info">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right"><strong>Total TTC</strong></td>
                    {% set ttc = somme * 1.2 %}
                    <td style="text-align: right"><strong>{{ ttc | number_format(2, ',', ' ') }} €</strong></td>
                </tr>       
            </tbody>
        </table>
    </div>
{% endblock %}
